<div class="modal__column--left">
  {{#with ebook}}
    <img src="{{img.url}}"/>
  {{/with}}
</div>
<div class="modal__column--right">
  <div class="ebook__title">
    {{ebook.title}}
  </div>
  <div class="ebook__strapline">
    <h1>{{ebook.strapline}}</h1>
  </div>
  <div class="ebook__copy">
    {{ebook.copy}}
  </div>
  {{#if ebook.form}}
    <form action="{{ebook.form.action}}" class="js-sailthru-form">
    {{#each ebook.form.hidden_fields}}
    <input type="{{type}}" name="{{name}}" value="{{value}}" />
    {{/each}}
    {{#each ebook.form.text_fields}}
    <input class="ebook__form-field"type="{{type}}" name="{{name}}" placeholder="{{placeholder}}" required />
    {{/each}}
    <select class="ebook__form-field" name="{{ebook.form.country_select.name}}" required>
    <option value>Country</option>
    {{#each countries}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
    </select>
    <input class="button" type="submit" value="Download">
    </form>
  {{/if}}
  <div class="js-success is-hidden">
  Thank you!
  </div>
</div>




