<article id="articles" class="articles">
  <h2 class="articles__heading">{{title}}</h2>

  <div class="articles__list">
  {{#each articles}}
    <article class="article">
      <div class="article__info">
        <a href="{{url}}">
          <h3 class="article__info__title">{{title}}</h3>
          <h4 class="article__info__teaser">{{teaser1}}</h4>
          <p class="article__info__blurb">{{teaser2}}</p>
        </a>

        <a class="article__info__author" href="{{author_url}}">
          {{#if author_image}}
            <img class="article__info__author__image" src="{{author_image}}" />
          {{/if}}
          <div class="article__info__author__creds">
            <div class="article__info__author__creds__name">{{author_name}}</div>
            <div class="article__info__author__creds__title">{{author_title}}</div>
          </div>
        </a>
      </div>
      {{#if src}}
        <div class="article__imagery" style="background-image: url({{src}})"></div>
      {{/if}}
    </article>
  {{/each}}
  </div>

  <div class="articles__button-container">
    <a class="articles__more" href="{{see_more_url}}">
      {{more_link_text}}
      <span class="icon-chevron-right"></span>
    </a>
  </div>
</article>
