<article class="article" data-title="{{ article.title }}" data-slug="{{ article.slug }}">
  <meta content="{{ article.title }}" itemprop="headline">
  <meta content="{{ article.title }}" itemprop="alternativeHeadline">
  <meta content="{{ article.post_date }}" itemprop="datePublished">

  <div class="article__container" itemscope itemtype="http://schema.org/Article">
    <header class="article-header is-narrow is-centered has-flexbox">
      <h1 class="article-header__title is-xlarge">
        {{ article.title }}
      </h1>

      <p class="article-header__title is-xsmall is-padded-bottom">
        Tips &amp; articles
      </p>
    </header><!-- .article-header -->

    <div class="author author--article author--contained author--vertical">
      {{#if article.author_details.url}}<a href="{{ article.author_details.url }}">{{/if}}
        <img class="avatar avatar--author avatar--large avatar--vertical"
          src="{{#if article.author_details.avatar_url}}{{ article.author_details.avatar_url }}{{else}}//assets.staticlp.com/profiles/users/placeholders/large.png{{/if}}"
          alt="">

        <div class="author__details">
          {{#if article.author_details.name}}
            <div class="author__name">
              {{ article.author_details.name }}
            </div><!-- .author__name -->
          {{/if}}

          {{#if article.author_details.title}}
            <div class="author-title">
              {{ article.author_details.title }}
            </div><!-- .author-title -->
          {{/if}}
        </div><!-- .author-details -->
      {{#if article.author_details.url}}</a>{{/if}}
    </div><!-- .author -->

    <div class="article-body is-narrow has-legacy-code" itemprop="articleBody" data-post-date="{{ article.post_date }}">
      <div class="article-body__content">
        {{{ article.content.head }}}
      </div><!-- .article-body__content -->

      {{#if article.guidebook}}
        <a class="related-guidebook related-guidebook--article" href="{{ article.guidebook.url }}">
          <img class="related-guidebook__image" src="{{ article.guidebook.image }}" alt="">

          <div class="related-guidebook__container">
            <h4 class="related-guidebook__title js-related-guidebook-title">
              {{ article.guidebook.title }}
            </h4>

            {{#if article.guidebook.price }}
              <p class="related-guidebook__heading">
                {{ article.guidebook.price }}
              </p>
            {{/if}}

            <p class="related-guidebook__content js-related-guidebook-content">
              {{ article.guidebook.content }}
            </p>

            {{#if article.guidebook.url}}
              <span class="related-guidebook__link">
                Visit Shop
                <i class="icon-chevron-right" aria-hidden="true"></i>
              </span>
            {{/if}}
          </div><!-- .related-guidebook__container -->
        </a><!-- .related-guidebook -->
      {{/if}}

      <div class="article-body__content">
        {{{ article.content.tail }}}
      </div><!-- .article-body__content -->
    </div><!-- .article-body -->

    <footer class="article-footer js-article-footer is-narrow">
      <div class="article-post-date js-article-post-date" hidden>
        Published <time datetime="{{ article.post_date }}"></time>
      </div><!-- .article-post-date -->

      <div class="article-footer__top">
        <div class="action-sheet action-sheet--right js-action-sheet">
          <div class="action-sheet__item js-action-sheet-item">
            <button class="action-sheet__control js-action-sheet-menu-control" title="Share this article on Twitter, Facebook, or email" aria-label="Share this article on Twitter, Facebook, or email" aria-owns="share-action-sheet">
              <svg class="svg-icon svg-icon--dark" viewBox="0 0 13 16" width="13" height="16">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-svg-share-13px"></use>
              </svg>
            </button>

            <div class="action-sheet__menu" id="share-action-sheet" aria-hidden="true" hidden>
              <div class="action-sheet__menu__inner">
                <ul>
                  <li>
                    <button class="action-sheet__control js-action-sheet-share-control" data-network="twitter">
                      <svg class="svg-icon svg-icon--gray" viewBox="0 0 21 21" width="21" height="21">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-svg-twitter-21px"></use>
                      </svg>
                      <span>Share on Twitter</span>
                    </button>
                  </li>
                  <li>
                    <button class="action-sheet__control js-action-sheet-share-control" data-network="facebook">
                      <svg class="svg-icon svg-icon--gray" viewBox="0 0 21 21" width="21" height="21">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-svg-facebook-21px"></use>
                      </svg>
                      <span>Share on Facebook</span>
                    </button>
                  </li>
                  {{!-- <li>
                    <button class="action-sheet__control js-action-sheet-share-control" data-network="email">
                      <svg class="svg-icon svg-icon--gray" viewBox="0 0 21 21" width="21" height="21">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-svg-email-21px"></use>
                      </svg>
                      <span>Share by email</span>
                    </button>
                  </li> --}}
                </ul>
              </div><!-- .action-sheet__menu__inner -->
              <div class="action-sheet__menu__arrow"></div>
            </div><!-- .action-sheet__menu -->
          </div><!-- .action-sheet__item -->
        </div><!-- .action-sheet -->

        {{#if article.categories}}
          <div class="category-list category-list--left is-constrained">
            {{#each article.categories}}
              <a class="category-list__item" href="{{ this.slug }}">
                {{ this.name }}
              </a>
            {{/each}}
          </div><!-- .category-list -->
        {{/if}}
      </div><!-- .article-footer__top -->
    </footer><!-- .article-footer -->

    {{#if article.related_articles}}
      <div class="article-pagination is-hidden">
        <div class="article-pagination__container">
          <a class="article-pagination__item is-prev"></a>
          <a class="article-pagination__item is-next"></a>
        </div><!-- .article-pagination__container -->
      </div><!-- .article-pagination -->
    {{/if}}

    <div class="ad ad--leaderboard ad--article">
      <div class="ad--leaderboard__container">
      </div><!-- .container -->
    </div><!-- .ad -->
  </div><!-- .article__container -->
</article><!-- .article -->
