<article class="article" id="{{ article.id }}" data-title="{{ article.title }}" data-slug="{{ article.slug }}">
  {{> "components/article/article_schema"}}

  <div class="article__container">
    <div class="article__intro">
      <div class="article__header">
        <header class="article-header has-flexbox">
          <h1 class="article-header__title is-xlarge">
            {{ article.title }}
          </h1>

          <div class="article-header__title is-xsmall is-padded-bottom">
            <div
              id="ad-articles-sponsor-logo"
              class="adunit--sponsor-logo">
              Featured article
            </div>
          </div>
        </header>
        <div class="article-subheader">
          <div class="article__author_modern">
            {{> "components/author/author_modern"}}
          </div>
          <div class="social-share-container">
            <div class="post-date share-text">share</div>
            {{> "components/social_share/social_share_article"}}
          </div>
        </div>
      </div>
    </div>

    <div class="article__content">
      {{> "components/article_body/article_body"}}

      {{> "components/ads/ad_article_sponsor" }}
      <div class="no-flexbox js-article-footer">
        <footer class="article__footer">
          <div class="post-date in-article-footer js-article-post-date">
            Published<br><time datetime="{{ article.post_date }}"></time>
          </div>
          <div class="social-share-footer">
            {{> "components/social_share/social_share_article"}}
          </div>
        </footer>
      </div>
    </div>
  </div>
</article>
