<li class="ttd__item js-ttd-item">
  <a class="image-card" href="{{url}}">
    <div class="image-card__image" data-image-url="{{src}}" data-backupimage-url="https://s3.amazonaws.com/static-asset/destinations-next/images/{{order}}-ttd-image.jpg"></div>
    <div class="image-card__content">
      <div class="image-card__number">
        <span class="num">{{card_num}}</span>
      </div>
      <p class="image-card__subtitle">{{subtitle}}</p>
      <h3 class="image-card__title">{{title}}</h3>
    </div>
  </a>
</li>
