{{#if food_and_drink}}

<article id="food-and-drink" class="food-and-drink">
  <h1 class="food-and-drink__heading">{{title}}</h1>

  <div class="food-and-drink__image"></div>

  <div class="food-and-drink__inner">
    <ol class="food-and-drink__list">
      {{#each food_and_drink}}<li class="food-and-drink__list__item">
        <a href="http://www.lonelyplanet.com/{{url}}" itemscope itemtype="http://schema.org/FoodEstablishment" class="food-and-drink__entry">
          <div class="food-and-drink__entry__title">
            <span itemprop="name" class="food-and-drink__entry__name">{{name}}</span>
            <span itemprop="containedIn" itemscope itemtype="http://schema.org/Place" class="food-and-drink__entry__location">
              in <span itemprop="name">{{location}}</span>
            </span>
          </div>
          <div itemprop="makesOffer" itemscope itemtype="http://schema.org/Offer" class="food-and-drink__entry__categories">
            {{#if tags}}{{#each tags}}<span itemprop="category">{{this}}</span>{{/each}}{{/if}}
          </div>
        </a>
      </li>{{/each}}
    </ol>
  </div>

  <div class="food-and-drink__button-container">
    <a class="food-and-drink__more" href="{{see_more_url}}">
      See More
      <span class="icon-chevron-right"></span>
    </a>
  </div>

</article>

{{/if}}
