<nav class="navigation navigation--{{type}}">
  <ul class="navigation__list">
   {{#each navigation}}
     <li class="navigation__item {{nav_class_names title}}">
       <a class="navigation__link" {{#unless submenu.items.length}}href="{{slug}}"{{/unless}}>{{title}}</a>

       {{#if submenu.items.length}}
       <div class="sub-navigation">
         <a class="sub-navigation-feature" href="{{submenu.featured.link}}">
           <img class="sub-navigation-feature__image" src="{{submenu.featured.image}}" />
           <div class="sub-navigation-feature__text">
             <div class="sub-navigation-feature__title">{{submenu.featured.title}}</div>
             <div class="sub-navigation-feature__subtitle">{{submenu.featured.subtitle}}</div>
           </div>
         </a>

         <ul class="sub-navigation__list">
         {{#each submenu.items}}
           <li class="sub-navigation__item {{#if current}}sub-navigation__item--current{{/if}}">
             <a class="sub-navigation__link" href="{{slug}}">{{title}}</a>
           </li>
         {{/each}}
         </ul>

         <a class="sub-navigation__button" href="{{submenu.countries_link}}">
           See All Countries
           <i class="icon-chevron-right"></i>
         </a>
       </div>
       {{/if}}

     </li>
   {{/each}}
  </ul>

  <nav class="mobile-navigation">
    <a class="mobile-navigation__close icon-close-small js-close">Close</a>

    <ul class="mobile-navigation__list">
      {{#each navigation}}
        <li class="mobile-navigation__item">
          <a class="mobile-navigation__link" {{#unless submenu.items.length}}href="{{slug}}"{{/unless}}>{{title}}</a>
        </li>
      {{/each}}
    </ul>
  </nav>
</nav>

