<nav class="navigation navigation--{{type}}{{#if images}} navigation--has-images{{else}} navigation--no-images{{/if}}">
  <ul class="navigation__list">
    {{#each navigation}}
      <li class="navigation__item {{nav_class_names title}}">
       <a class="navigation__link" href="{{slug}}">{{title}}</a>

        {{#if submenu.items.length}}
        <div class="sub-navigation">
          {{#if submenu.featured}}
          <a class="sub-navigation-feature" href="{{submenu.featured.link}}">
            <img class="sub-navigation-feature__image" src="{{submenu.featured.image}}" alt="{{submenu.featured.title}}">
            <div class="sub-navigation-feature__text">
              <div class="sub-navigation-feature__title">{{submenu.featured.title}}</div>
              <div class="sub-navigation-feature__subtitle">{{submenu.featured.subtitle}}</div>
            </div>
          </a>
          {{/if}}

          <ul class="sub-navigation__list">
          {{#each submenu.items}}
            <li class="sub-navigation__item{{#if current}} sub-navigation__item--current{{/if}}">
              <a class="sub-navigation__link" href="/{{slug}}">{{title}}</a>
            </li>
          {{/each}}
          </ul>

          {{#if submenu.call_to_action}}
          <a class="sub-navigation__button" href="{{submenu.call_to_action.slug}}">
            {{submenu.call_to_action.title}}
            <i class="icon-chevron-right" aria-hidden="true"></i>
          </a>
          {{/if}}
        </div>
        {{/if}}
      </li>
    {{/each}}

    <li class="navigation__item navigation__item--user">
      <span class="notification-badge">3</span>

      <a class="avatar" href="#">
        <img src="http://dummyimage.com/80x80/4d494d/686a82.gif" alt="Haraldur Thorleifsson avatar">
      </a>

      <div class="sub-navigation">
        <a class="user-panel__sign-out icon-sign-out" href="//auth.lonelyplanet.com/users/sign_out" title="Sign out">Sign out</a>

        <div class="user-panel__header">
          <a href="#">
            <img class="user-panel__avatar avatar" src="http://dummyimage.com/80x80/4d494d/686a82.gif" alt="Haraldur Thorleifsson avatar">
            <span class="user-panel__name">Haraldur Thorleifsson</span>
          </a>
        </div>

        <div class="tabs tabs--full tabs--small">
          <ul class="tabs__links">
            <li>
              <a href="#activity">Recent activity</a>
            </li>

            <li>
              <a href="#messages">Messages <span class="unread-count">3</span></a>
            </li>
          </ul>

          <div class="user-panel__content tabs__content" id="activity">
            <div class="user-panel__empty">No recent activity</div>
            {{!-- <ul class="user-panel__items">
              <li>
                <a href="#">
                  Something happened and this is it.
                  <time>Just now</time>
                </a>
              </li>

              <li>
                <a href="#">
                  Your order <strong>5738432</strong> has been shipped.
                  <time>5 hours ago</time>
                </a>
              </li>

              <li>
                <a href="#">
                  This is another message and it's a bit longer so it wraps to two lines.
                  <time>5 hours ago</time>
                </a>
              </li>
            </ul>

            <a class="user-panel__link" href="#">See all activity</a> --}}
          </div>

          <div class="user-panel__content tabs__content" id="messages">
            {{!-- <div class="user-panel__empty">No new messages</div> --}}
            <ul class="user-panel__items">
              <li>
                <a href="#">
                  <img class="avatar" src="http://dummyimage.com/60x60/4d494d/686a82.gif" alt="Mom's avatar">
                  Your <strong>mom</strong> says <strong>hello</strong>.
                  <time>Just now</time>
                </a>
              </li>

              <li>
                <a href="#">
                  <img class="avatar" src="http://dummyimage.com/60x60/4d494d/686a82.gif" alt="Thorn Tree avatar">
                  <strong>Thorn Tree</strong> sent you a <strong>private message</strong>.
                  <time>5 hours ago</time>
                </a>
              </li>

              <li>
                <a href="#">
                  <img class="avatar" src="http://dummyimage.com/60x60/4d494d/686a82.gif" alt="Thorn Tree avatar">
                  <strong>Thorn Tree</strong> sent you a <strong>private message</strong>.
                  <time>5 hours ago</time>
                </a>
              </li>
            </ul>

            <a class="user-panel__link" href="#">See all messages</a>
          </div>
        </div>

        <a class="sub-navigation__button" href="//www.lonelyplanet.com/thorntree">
          Go to Thorn Tree Travel Forum
          <i class="icon-chevron-right" aria-hidden="true"></i>
        </a>
      </div>
    </li>
  </ul>

  <nav class="mobile-navigation">
    <button class="mobile-navigation__close icon-close-small js-close">Close</button>

    <ul class="mobile-navigation__list">
      {{#each navigation}}
        <li class="mobile-navigation__item">
          <a class="mobile-navigation__link" href="{{slug}}">{{title}}</a>
        </li>
      {{/each}}
    </ul>
  </nav>
</nav>
