<div class="{{className}}">
  <ul class="sub-navigation__list">
    <li class="sub-navigation__item">
       <a class="sub-navigation__link" href="{{user.profileLink}}">Settings</a>
    </li>

    {{#if user.connect}}
    <li class="sub-navigation__item">
       <a class="sub-navigation__link" href="{{user.publicProfileLink}}">Profile</a>
    </li>
    
    <li class="sub-navigation__item">
       <a class="sub-navigation__link" href="{{user.publicProfileLink}}/lists">Lists</a>
    </li>
    {{/if}}

    <li class="sub-navigation__item">
      <a class="sub-navigation__link" href="https://www.lonelyplanet.com/thorntree">Thorn Tree</a>
    </li>

    <li class="sub-navigation__item">
      <a class="sub-navigation__link" href="https://www.lonelyplanet.com/thorntree/messages">Messages</a>
    </li>

    <li class="sub-navigation__item">
      <a class="sub-navigation__link" href="https://www.lonelyplanet.com/video?watchLaterModal=open">Watch Later</a>
    </li>

    <li class="sub-navigation__item">
      <a class="sub-navigation__link js-gtm-sign-out" href="{{user.signOutLink}}">Sign Out</a>
    </li>
  </ul>
</div>
