<article class="intro-narrative">
  <h2 class="intro-narrative__heading">{{{intro_narrative_title}}}</h2>

  <p class="intro-narrative__text">
    <span class="js-intro-narrative">{{{intro_narrative_text}}}</span>

    {{#if intro_narrative_expanded}}
      <a class="intro-narrative__more">
        Read More
        <span class="icon-chevron-right"></span>
      </a>
    {{/if}}
  </p>

  {{#if intro_narrative_expanded}}
    <div class="intro-narrative__expanded">
      {{#each intro_narrative_expanded}}
        {{#if @last}}
          <h2 class="intro-narrative__title">{{{title}}}</h2>
          <p class="intro-narrative__text">
            <span class="js-intro-narrative">{{{text}}}</span>
            <a class="intro-narrative__less">
              Read Less
              <span class="icon-chevron-right"></span>
            </a>
          </p>
        {{else}}
          <h2 class="intro-narrative__title">{{{title}}}</h2>
          <p class="intro-narrative__text">{{text}}</p>
        {{/if}}
      {{/each}}
    </div>
  {{/if}}
</article>
