<article class="intro-narrative">
  <h2 class="intro-narrative__heading">{{{intro_narrative_title}}}</h2>

  <div class="adunit adunit--sponsor-logo display-none"
    id="sponsor-logo-love-letter"
    data-size-mapping="sponsor-logo"
    data-targeting='{ "position": "love-letter" }'>
  </div>

  <p class="intro-narrative__featured">
    <span class="js-intro-narrative">{{{intro_narrative_text}}}</span>
  </p>

  {{#if intro_narrative_expanded}}
    <hr class="intro-narrative__more-separator">
    <p class="intro-narrative__expanded-link">
      <a class="intro-narrative__more">
        Read More
        <span class="icon-chevron-down"></span>
      </a>
    </p>
  {{/if}}

  {{#if intro_narrative_expanded}}
    <div class="intro-narrative__expanded">
      {{#each intro_narrative_expanded}}
        {{#if @last}}
          <h2 class="intro-narrative__title">{{{title}}}</h2>
          <p class="intro-narrative__text">
            <span class="js-intro-narrative">{{{text}}}</span>
          </p>

          <hr class="intro-narrative__less-separator">
          <p class="intro-narrative__expanded-link">
            <a class="intro-narrative__less">
              Read Less
              <span class="icon-chevron-up"></span>
            </a>
          </p>
        {{else}}
          <h2 class="intro-narrative__title">{{{title}}}</h2>
          <p class="intro-narrative__text">
            <span class="js-intro-narrative">{{{text}}}</span>
          </p>
        {{/if}}
      {{/each}}
    </div>
  {{/if}}
</article>
