{{#if survival_guide.items}}

<article id="survival_guide" class="survival-guide">
  <h1 class="survival-guide__heading">{{survival_guide.title}}</h1>

  <div class="survival-guide__inner">
    <ul class="survival-guide__list">
      {{#each survival_guide.items}}
      <li class="survival-guide__list__item">
        <a class="survival-guide__list__link" href="{{../survival_guide.item_url}}{{slug}}">
          <span class="survival-guide__list__item__icon icon--{{icon}}-blue"></span>
          <h3 class="survival-guide__list__item__title">{{title}}</h3>
          <p class="survival-guide__list__item__blurb">{{blurb}}</p>
        </a>
      </li>
      {{/each}}
    </ul>
  </div>

  <div class="survival-guide__button-container">
    <a class="survival-guide__more" href="{{survival_guide.see_more_url}}">
      See More
      <span class="icon-chevron-right"></span>
    </a>
  </div>

</article>

{{/if}}
