{{#if survival_guide.items}}

<article id="survival_guide" class="survival_guide">
  <h1 class="survival_guide__heading">{{survival_guide.title}}</h1>

  <div class="survival_guide__inner">
    <ul class="survival_guide__list">
      {{#each survival_guide.items}}
      <a href="{{../survival_guide.item_url}}{{slug}}" class="survival_guide__list__link">
        <li class="survival_guide__list__item survival_guide__list__item--{{../items_count}}">
          <span class="survival_guide__list__item__icon icon--{{icon}}-blue"></span>
          <h3 class="survival_guide__list__item__title"><strong>{{title}}</strong></h3>
          <p class="survival_guide__list__item__blurb">{{blurb}}</p>
        </li>
      </a>
      {{/each}}
    </ul>
  </div>

  <div class="survival_guide__button-container">
    <a class="survival_guide__more" href="{{survival_guide.see_more_url}}">
      See More
      <span class="icon-chevron-right"></span>
    </a>
  </div>

</article>

{{/if}}
