{{#if tours}}
  <article class="tours">
    <h2 class="tours__heading">{{title}}</h2>

    <div class="tours__list">
      {{#each tours}}
        <a class="tour" href="{{url}}">
          <div class="tour__imagery">
            <figure>
              <div class="tour__imagery__image" style="background-image: url({{image}})"></div>

              <figcaption class="tour__imagery__caption">
                <span class="tour__imagery__caption__price">{{price}}</span>
                <span class="tour__imagery__caption__type">{{caption}}</span>
              </figcaption>
            </figure>
          </div>

          <div class="tour__description">
            <h3 class="tour__description__title">{{title}}</h3>
            <p class="tour__description__blurb">{{{blurb}}}</p>
          </div>
        </a>
      {{/each}}
    </div>

    <div class="tours__button-container">
      <a class="tours__more" href="{{see_more_url}}">
        See More Adventures
        <span class="icon-chevron-right"></span>
      </a>
    </div>

  </article>
{{/if}}
