<section class="top_places top_places{{ centered }}">
  <div class="top_places__close icon-close-small">Close</div>

  <div class="top_places__content">
    <div class="top_places__wrap">
      <!-- top countries -->
      {{#if top_places.top_countries }}

      <div class="top_places__spacer">

        <div class="tlist">
          <h2 class="tlist__heading">Top countries in {{ place.name }}</h2>
          <div class="tlist__content">

            <ul class="tlist__top">
              {{#each top_places.top_countries}}
              <li class="tlist__top-item">
                <a class="tlist__top-link" href="/{{ slug }}">
                  <div class="tlist__image" title="{{ name }} thumb image" style="background-image: url({{ thumbnail }});"></div>
                  <div class="tlist__number"></div>
                  <div class="tlist__title">{{ name }}</div>
                </a>
              </li>
              {{/each}}
            </ul>

            {{#if top_places.countries }}
            <ul class="tlist__bottom">

              {{#each top_places.top_countries}}
              <li class="tlist__bottom-item tlist__bottom-item--top">
                <a class="tlist__bottom-link" href="/{{ slug }}">{{ name }}</a>
              </li>
              {{/each}}
              {{#each top_places.countries}}
              <li class="tlist__bottom-item">
                <a class="tlist__bottom-link" href="/{{ slug }}">{{ name }}</a>
              </li>
              {{/each}}
            </ul>
            {{/if}}

          </div>

          <a class="tlist__more" href="//lonelyplanet.com/{{ slug }}/places">
            More top countries in {{ place.name }}
            <span class="icon-chevron-right"></span>
          </a>
        </div>

      </div>

      {{/if}}
      <!-- top cities -->
      {{#if top_places.top_cities}}

      <div class="top_places__spacer">

        <div class="tlist">
          <h2 class="tlist__heading">Top cities in {{ place.name }}</h2>
          <div class="tlist__content">

            <ul class="tlist__top">
              {{#each top_places.top_cities}}
                <li class="tlist__top-item">
                  <a class="tlist__top-link" href="/{{ slug }}">
                    <div class="tlist__image" title="{{ name }} thumb image" style="background-image: url({{ thumbnail }});"></div>
                    <div class="tlist__number"></div>
                    <div class="tlist__title">{{ name }}</div>
                    <div class="tlist__subtitle">{{ country_name }}</div>
                  </a>
                </li>
              {{/each}}
            </ul>

            {{#if top_places.cities}}
              <ul class="tlist__bottom">
                {{#each top_places.top_cities}}
                  <li class="tlist__bottom-item tlist__bottom-item--top">
                    <a class="tlist__bottom-link" href="/{{ slug }}">{{ name }}</a>
                  </li>
                {{/each}}
                {{#each top_places.cities}}
                  <li class="tlist__bottom-item">
                    <a class="tlist__bottom-link" href="/{{ slug }}">{{ name }}</a>
                  </li>
                {{/each}}
              </ul>
            {{/if}}

          </div>

          <a class="tlist__more" href="//lonelyplanet.com/{{ slug }}/places">
            More top cities in {{ place.name }}
            <span class="icon-chevron-right"></span>
          </a>
        </div>

      </div>

      {{/if}}

      <!-- top neighborhoods -->
      {{#if top_places.top_neighbourhoods}}

      <div class="top_places__spacer">

        <div class="tlist">
          <h2 class="tlist__heading">Top neighborhoods in {{ place.name }}</h2>
          <div class="tlist__content">

            <ul class="tlist__top">
              {{#each top_places.top_neighbourhoods}}
                <li class="tlist__top-item">
                  <a class="tlist__top-link" href="/{{ slug }}">
                    <div class="tlist__image" title="{{ name }} thumb image" style="background-image: url({{ thumbnail }});"></div>
                    <div class="tlist__number"></div>
                    <div class="tlist__title">{{ name }}</div>
                    <div class="tlist__subtitle">{{ country_name }}</div>
                  </a>
                </li>
              {{/each}}
            </ul>

            {{#if top_places.neighbourhoods}}
              <ul class="tlist__bottom">
                {{#each top_places.top_neighbourhoods}}
                  <li class="tlist__bottom-item tlist__bottom-item--top">
                    <a class="tlist__bottom-link" href="/{{ slug }}">{{ name }}</a>
                  </li>
                {{/each}}
                {{#each top_places.neighbourhoods}}
                  <li class="tlist__bottom-item">
                    <a class="tlist__bottom-link" href="/{{ slug }}">{{ name }}</a>
                  </li>
                {{/each}}
              </ul>
            {{/if}}

          </div>

          <a class="tlist__more" href="//lonelyplanet.com/{{ slug }}/places">
            More top neighborhoods in {{ place.name }}
            <span class="icon-chevron-right"></span>
          </a>
        </div>

      </div>

      {{/if}}
    </div>
  </div>
</section>
