<footer class="lp-global-footer" role="contentinfo">
  <div class="lp-global-footer__container">

    <div class="lp-global-footer__main">
      <div class="lp-global-footer__main__links lp-global-footer__main__links--newsletter">
        <p class="lp-global-footer__main__links__header">
          Newsletter sign up
        </p>

        <form class="newsletter-register" action="//www.lonelyplanet.com/newsletter/form-submission.php" method="post" _lpchecked="1">
          <input name="Source" type="hidden" value="homepagefooter">
          <input name="type" type="hidden" value="subscribe">

          <p class="newsletter-register__text">
            Subscribe now and receive a 20% discount on your next
            guidebook purchase.
          </p>

          <label for="newsletter-register-email">Email address</label>
          <input class="newsletter-register__email" id="newsletter-register-email" name="sailthru_email" type="email" placeholder="your@email.com" autocomplete="email" autocapitalize="none" autocorrect="off" required>

          <label for="newsletter-register-country">Country</label>
          <select class="newsletter-register__country" id="newsletter-register-country" name="sailthru_Country">
            <option value="">Select country</option>
            {{#each newsletter_countries}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>

          <button class="newsletter-register__button" data-lpa-action="newsletter" data-lpa-category="account">Sign up</button>
        </form>
      </div>

      <input class="lp-global-footer__main__checkbox" id="destinations_checked" type="checkbox">
      <div class="lp-global-footer__main__links lp-global-footer__main__links--destinations">
        <p class="lp-global-footer__main__links__header">
          <a href="http://www.lonelyplanet.com/destinations" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Destinations">
            Destinations
          </a>

          <label for="destinations_checked" class="accordion-target"><i class="icon icon--chevron-down" aria-hidden="true"></i></label>
        </p>

        <ul class="lp-global-footer__main__links__list">
          {{#each footer_nav_destination_items}}
            <li class="lp-global-footer__main__links__list__item">
              <a href="{{url}}" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="{{title}}">{{title}}</a>
            </li>
          {{/each}}
        </ul>
      </div>

      <input class="lp-global-footer__main__checkbox" id="shop_checked" type="checkbox">
      <div class="lp-global-footer__main__links lp-global-footer__main__links--shop">
        <p class="lp-global-footer__main__links__header">
          <a href="http://www.lonelyplanet.com/shop" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Shop">
            Shop
          </a>

          <label for="shop_checked" class="accordion-target"><i class="icon icon--chevron-down" aria-hidden="true"></i></label>
        </p>

        <ul class="lp-global-footer__main__links__list">
          {{#each footer_nav_shop_items}}
            <li class="lp-global-footer__main__links__list__item" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="{{title}}">
              <a href="{{url}}">{{title}}</a>
            </li>
          {{/each}}
        </ul>
      </div>

      <input class="lp-global-footer__main__checkbox" id="forum_checked" type="checkbox">
      <div class="lp-global-footer__main__links lp-global-footer__main__links--forum">
        <p class="lp-global-footer__main__links__header">
          <a href="http://www.lonelyplanet.com/thorntree" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Forum">
            Forum
          </a>

          <label for="forum_checked" class="accordion-target"><i class="icon icon--chevron-down" aria-hidden="true"></i></label>
        </p>

        <ul class="lp-global-footer__main__links__list">
          {{#each footer_nav_forum_items}}
            <li class="lp-global-footer__main__links__list__item">
              <a href="{{url}}" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="{{title}}">{{title}}</a>
            </li>
          {{/each}}
        </ul>
      </div>

      <input class="lp-global-footer__main__checkbox" id="interests_checked" type="checkbox">
      <div class="lp-global-footer__main__links lp-global-footer__main__links--interests">
        <p class="lp-global-footer__main__links__header">
          <a href="http://www.lonelyplanet.com/interests" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Interests">
            Interests
          </a>

          <label for="interests_checked" class="accordion-target"><i class="icon icon--chevron-down" aria-hidden="true"></i></label>
        </p>

        <ul class="lp-global-footer__main__links__list">
          {{#each footer_nav_interest_items}}
            <li class="lp-global-footer__main__links__list__item">
              <a href="{{url}}" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="{{title}}">{{title}}</a>
            </li>
          {{/each}}
        </ul>
      </div>

      <input class="lp-global-footer__main__checkbox" id="booking_checked" type="checkbox">
      <div class="lp-global-footer__main__links lp-global-footer__main__links--booking">
        <p class="lp-global-footer__main__links__header">
          <a href="http://www.lonelyplanet.com/bookings" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="Travel Booking">
            Travel booking
          </a>

          <label for="booking_checked" class="accordion-target"><i class="icon icon--chevron-down" aria-hidden="true"></i></label>
        </p>

        <ul class="lp-global-footer__main__links__list">
          {{#each footer_nav_booking_items}}
            <li class="lp-global-footer__main__links__list__item">
              <a href="{{url}}" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="{{title}}">{{title}}</a>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="lp-global-footer__bottom">
      <div class="lp-global-footer__links">
        <nav class="links">
          <ul class="links__list">
            {{#each footer_bottom_links}}
              <li class="links__item">
                <a class="links__link" href="{{url}}" data-lpa-category="Destinations Next" data-lpa-action="Footer Click" data-lpa-label="{{title}}">{{title}}</a>
              </li>
            {{/each}}
          </ul>
        </nav>
      </div>

      <a class="lp-global-footer__logo" href="http://www.lonelyplanet.com" title="Return to homepage">
        <svg id="footer-logo" alt="Lonely Planet" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 -117.2 400 198.3" enable-background="new 0 -117.2 400 198.3" xml:space="preserve">
          <g>
            <path d="M108.1 4.5c-7.4-1.6-12.3-5.8-15.6-13.1v14H78.6V-21c-0.8-5.8-9-5.8-9.8 0V5.3H54.9V-9.5 c-3.3 9-9.8 13.1-19.7 14c-9.8 0-16.4-4.9-20.5-13.1v14H0v-61.6h14.7v30.4c3.3-6.6 7.4-9.9 13.9-12.3c11.5-2.5 21.3 2.5 26.2 13.1 c3.3-9 9.8-14 19.7-14c9 0.8 15.6 4.9 18 14c2.5-6.6 8.2-11.5 16.4-13.1c11.5-1.6 19.7 3.3 24.6 13.1v-31.2h14.7v17.3h13.9V-12 c0 4.9 7.4 4.9 7.4 0v-27.1h13.9V7.8l0 0c0 4.9-1.6 8.2-4.9 12.3c-4.1 4.1-8.2 4.9-13.9 5.8c-7.4 0.8-12.3-1.6-18-5.8l8.2-10.7 c4.1 3.3 10.6 3.3 13.1-1.6c0.8-1.6 0.8-4.1 0.8-6.6c-7.4 7.4-18.8 4.1-21.3-5.8v9.9h-14.7v-18.9H104c1.6 6.6 9 9 14.7 4.1 l12.3 1.6C131.1-4.6 124.5 6.1 108.1 4.5z M42.6-16.9c0-4.9-4.1-9-9-9s-9 4.1-9 9s4.1 9 9 9C39.3-7.9 43.4-12 42.6-16.9z M103.2-19.4h18C118.8-28.4 106.5-28.4 103.2-19.4z"/>
            <path d="M399.7 0.4c0 2.5-10.6 6.6-17.2 2.5S376-7 376-13.6h-29.5c3.3 8.2 13.1 7.4 16.4 3.3l12.3 2.5 c-4.1 14-16.4 16.4-27.8 12.3c-6.6-3.3-9.8-6.6-12.3-12.3v14h-13.9c0-9 0-18.1 0-27.1c-0.8-5.8-9.8-5.8-9.8 0V5.3h-13.9h-4.1h-5.7 v-8.2c0-3.3-3.3 8.2-8.2 8.2c-9.8 0.8-18-4.1-22.1-13.1V5.3h-14.7V-7.9c-4.1 9-14.7 14-25.4 11.5l-1.6-0.8c0 0 0.8 14.8 0.8 18.9 h-14.7v-38.6c0-18.1 19.7-28.8 34.4-18.1c2.5 2.5 4.9 5.8 6.6 9v-30.4h14.7v30.4c4.9-9 13.9-14 24.6-12.3 c7.4 1.6 12.3 5.8 15.6 13.1c4.1-11.5 14.7-16.4 27-12.3c5.7 2.5 8.2 6.6 10.6 12.3c4.9-11.5 16.4-16.4 28.7-12.3 c5.7 3.3 9.8 6.6 12.3 12.3v-23h13.9v9h9v13.1h-9c0 4.9-0.8 9 0.8 13.1c0.8 2.5 4.9 3.3 8.2 0.8l0 0L399.7 0.4z M232.6-16.9 c0-4.9-4.1-9-9-9c-4.9 0-9 4.1-9 9s4.1 9 9 9S232.6-12 232.6-16.9z M285.9-16.9c0-4.9-4.1-9-9-9l0 0c-4.9 0-9 4.1-9 9s4.1 9 9 9 S285.9-12 285.9-16.9z M363.7-20.2c-2.5-9-14.7-8.2-17.2 0H363.7z"/>
            <path d="M116.3-46.5l-9.8-4.1c13.9-38.6 50-66.6 92.6-66.6s78.6 27.9 91.7 66.6l-4.9 1.6l-4.9 1.6 c-11.5-34.5-44.2-58.3-81.9-58.3S128.6-81 116.3-46.5z"/>
            <path d="M280.9 11.9l9.8 4.1c-13.1 37.8-49.1 65.7-91.7 64.9c-42.6 0-78.6-27.1-91.7-64.9l4.9-1.6l4.9-1.6 c11.5 33.7 44.2 57.5 81.9 57.5S269.5 46.4 280.9 11.9z"/>
          </g>
        </svg>
      </a>

      <ul class="lp-global-footer__social-list">
        {{#each footer_social_media_links}}
          <li class="lp-global-footer__social-item">
            <a class="lp-global-footer__social-link footer__social-link--{{className}}" href="{{url}}">
              <svg class="svg-icon svg-icon--small svg-icon--inline" aria-label="{{title}}">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lp-icon-{{className}}"></use>
              </svg>
            </a>
          </li>
        {{/each}}
      </ul>

      <div class="language">
        <label class="language__label" for="language-select">International</label>

        <select class="language__select js-language-select" id="language-select">
          <option value="www.lonelyplanet.com" selected>English</option>
          <option value="www.lonelyplanet.in">English (India)</option>
          <option value="www.lonelyplanet.de">Deutsch</option>
          {{!-- <option value="www.lonelyplanet.fr">Français</option> --}}
          {{!-- <option value="www.lonelyplanet.es">Español</option> --}}
          <option value="www.lonelyplanetitalia.it">Italiano</option>
          {{!-- <option value="www.lonelyplanet.ru">Русский</option> --}}
          {{!-- <option value="www.lonelyplanetbrasil.com.br">Português</option> --}}
          {{!-- <option value="www.lonelyplanet.cz">Česky</option> --}}
        </select>
      </div>

      <p class="lp-global-footer__copyright">
        &copy; {{copyright_year}} Lonely Planet. All rights reserved.
        No part of this site may be reproduced without our written permission.
      </p>
    </div>

  </div>
</footer>
