<!--
By use of this code snippet, I agree to the Brightcove Publisher T and C
found at https://accounts.brightcove.com/en/terms-and-conditions/.
-->
<article class="masthead masthead--{{type}} {{#if images}}masthead--has-images{{else}} masthead--no-images{{/if}}" data-lp-initial-images="{{masthead.json}}">
  {{#if masthead.first}}
    <div class="masthead__wrap">
      <div class="masthead__images">
        {{#with masthead.first}}
          <div class="masthead__slide masthead__slide--num_0" style="background-image: url({{large.hq}})"></div>
        {{/with}}
      </div>
    </div>
  {{/if}}

  <div class="masthead__text-wrap">
    <div class="masthead__text {{#if masthead.first}}masthead__text--visible{{/if}}">
      <div class="masthead__container">
        <div class="masthead__breadcrumb">
          {{#if masthead.grandparent}}
            <a href="{{masthead.grandparent.slug}}">{{masthead.grandparent.place}}</a>,&nbsp;
          {{/if}}
          <a href="{{masthead.parent.slug}}">{{masthead.parent.place}}</a>
        </div>
        <h1 class="masthead__title">{{place.name}}</h1>

        {{#if masthead_images}}
        <div class="masthead__straplines">
          {{#each masthead_images}}
            <div class="masthead__strapline{{#if @first}} masthead__strapline--visible{{/if}}">{{strapline}}</div>
          {{/each}}
        </div>
        {{/if}}

        {{#if top_places}}
          <a class="masthead__button js-top-places" >
            Top {{#if top_places.neighborhoods}}Neighborhoods{{else}}Places{{/if}} in {{place.name}} <i class="icon-chevron-down"></i>
          </a>
        {{/if}}


        <a class="masthead__button--play js-play-video" style="display: none;">
          <i class="icon-play3"></i>
        </a>

      </div>
    </div>
  </div>


  {{#if top_places}}
    {{> "components/top_places/top_places" }}
  {{/if}}
</article>
